<header th:fragment="menu">
	<div class="main_header">
		<h2>STUDENT LIST</h2>
		<a th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket"></i></a>
	</div>
	<ul class="menu">
		<li><a th:href="@{/students}" th:classappend="${requestUri == '/students' ? 'active' : ''}">List all students</a></li>
		<li><a th:href="@{/students/add}" sec:authorize="hasRole('ROLE_ADMIN')">Add new student</a></li>
	</ul>
</header>

<footer th:fragment="footer">
	<p>Demo Spring Boot Web © 2023</p>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/LKS_NEXT-02.png/1030px-LKS_NEXT-02.png" alt="LKS logo">
</footer>